{% extends 'base.html' %}

{% load humanize %}
{% block title %} | Welcome {% endblock %}
{% block content %}
<!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Business Search Just Got Much Easier!
          </h1>
          <p class="lead">Start your business search by search our business database first.</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Cafe, Gas Station, etc)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">City</label>
                  <input type="text" name="city" class="form-control" placeholder="City">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">State</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">State (All)</option>
                    {% for key,value in state_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">County</label>
                  <select name="county" class="form-control">
                    <option selected="true" disabled="disabled">County (All)</option>
                     {% for key,value in county_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    {% for key,value in price_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <!-- Alerts -->
{% include 'partials/_alerts.html'%}

  <!-- Listings -->
  <section id="listings" class="py-5 ">
    <div class="container">
      <h3 class="text-center mb-5">Latest Listings</h3>
      <div class="row">
       {% if listings %}
          {% for listing in listings %}
<div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{{listing.photo_main.url}}" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">${{listing.price | intcomma}}</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{listing.title}}</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> {{listing.city}} {{listing.state}} {{listing.zipcode}}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-dollar-sign"></i> Rev: ${{listing.revenue | intcomma}}</div>
                <div class="col-6">
                  <i class="fas fa-money-bill-wave"></i> CF: ${{listing.cashflow | intcomma}}</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-dolly-flatbed"></i> Inv: ${{listing.inventory | intcomma}}</div>
                <div class="col-6">
                  <i class="fas fa-industry"></i> Est.{{listing.est}}</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  <i class="fas fa-user"></i> {{listing.listingAgent}}</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  <i class="fas fa-building"></i> {{listing.listingOffice }}</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-12">
                  <i class="fas fa-clock"></i> {{listing.list_date | timesince }}</div>
              </div>
              <hr>
              <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>

        {% endfor %}

        {% else %}
        <div class="col-md-12">No Listings Available</div>
        {% endif %}





      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>We can provide consulting and digital marketing for your business.  Give us call you find out how we can help.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-money-check-alt fa-4x mr-4"></i>
          <hr>
          <h3>Selling A Business </h3>
          <p>If you are thinking about, or have made decision to sell your business, don’t hesitate to call us.  Let us work with you to prepare a comprehensive, confidential and professional marketing strategy to sell your business.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-store fa-4x mr-4"></i>
          <hr>
          <h3>Buying A Business</h3>
          <p>Let us help you find the ideal business which meets your specific needs.  And, remember, if the type of business you are looking for is not currently on the market, we will be pleased to do a search on your behalf.  </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
